doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title React Test
    script(src="JSXTransformer.js")
    script(src="react.js")
    link(rel="stylesheet" href="main.css")
  body
    script(type="text/jsx" src="main.jsx")
